a.class_1{
    text-align: center;
}
#title_1{
    font-size: 80px;
    text-align: center;
    margin
}
#title_2{
    font-size: 150px;
    text-align: center;
}
li.icon{
    text-align: left;
    margin: 20px;
}
p.class_p_1{
    text-align: left;
    margin: 20px;
    margin-top:10px;
}
p.class_p_2{
    text-align: left;
    margin: 20px;
    margin-top:10px;
}
#bagia{
    text-align: left;
    margin: 20px;
    margin-top:10px;
}
li.mostpop{
    text-align: left;
    margin: 20px;
    margin-top:10px;
}